:root {
    --clr--dark-cyan: hsl(185, 75%, 39%);
    --clr--veryDarkDesaturated-blue: hsl(229, 23%, 23%);
    --clr--darkGrayish-blue: hsl(227, 10%, 46%);
    --clr--dark-gray: hsl(0, 0%, 59%);
    --clr--white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    overflow: hidden;
    /* height: 100vh; */
}

.outer-container {
    max-width: 375px;
    margin: 8rem auto;
    padding: 1rem;
}

.container {
    background-color: var(--clr--white);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
}

.bg-image {
    width: 100%;
    position: fixed;
    z-index: -1;
}

#top-image {
    top: -30%;
    left: -40%;
}

#bottom-image {
    top: 70%;
    left: 60%;
}   

#pattern-image {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

#person {
    margin: -48px auto;
    border-radius: 50%;
    border: 5px solid var(--clr--white);
}

#name-age {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.name {
    color: var(--clr--veryDarkDesaturated-blue);
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1rem;
}

.age {
    color: var(--clr--darkGrayish-blue);
}

.city {
    color: var(--clr--darkGrayish-blue);
    font-size: 1rem;
    font-weight: 400;
    margin-top: .5em;
    margin-bottom: 2em;
}

.stats {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    padding: 1rem;
    border-top: 1px solid var(--clr--dark-gray);
}

.stats h2 {
    color: var(--clr--veryDarkDesaturated-blue);
    font-size: 1.2rem;
    font-weight: 700;
}

.stats p {
    color: var(--clr--darkGrayish-blue);
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .1em;
    margin: .5em 0;
}

@media screen and (min-width: 376px) {
    
    .outer-container {
        max-width: 375px;
        margin: 8rem auto;
        padding: 0rem;
    }

    .container {
        background-color: var(--clr--white);
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 1rem;
    }

    #top-image {
        top: -135%;
        left: -50%;
    }

    #bottom-image {
        top: 55%;
        left: 35%;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
