:root {
    --clr-purple: hsl(259, 100%, 65%);
    --clr-ight--red: hsl(0, 100%, 67%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-off--white: hsl(0, 0%, 94%);
    --clr-light--grey: hsl(0, 0%, 86%);
    --clr-smokey--grey: hsl(0, 1%, 44%);
    --clr-off--black: hsl(0, 0%, 8%);
    --fw-one: 400;
    --fw-two: 700;
    --fw-three: 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-light--grey);
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
}

.outer-container {
    width: 375px;
    margin: 0 auto;
    padding: 1rem; 
}

.container {
    background-color: var(--clr-white);
    padding: 1.5rem;
    margin-top: 10vh;
    border-radius: 1rem 1rem 6rem 1rem;
}

.inputs-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.5rem;
    padding-bottom: 4rem;
}

hr {
    border-bottom: 1px solid var(--clr-light--grey);
    opacity: .2;
}

#day-container, #month-container, #year-container {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.inputs-container label {
    color: var(--clr-smokey--grey);
    font-size: .8rem;
    font-weight: var(--fw-two);
    letter-spacing: .1rem;
}

.inputs-container input {
    color: var(--clr-off--black);
    width: 100%;
    font-size: 1rem;
    font-weight: var(--fw-three);
    padding: .7rem .8rem;
    border: 1px solid var(--clr-light--grey);
    border-radius: .5rem;
    outline: none;
}

.inputs-container input:focus {
    border: 1px solid var(--clr-purple);
    cursor: pointer;
}

.inputs-container p {
    display: none;
    font-size: .5rem;
    font-weight: var(--fw-one);
    font-style: italic;
    color: var(--clr-ight--red);
}

.displays-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.displays-container img {
    background-color: var(--clr-purple);
    color: var(--clr-white);
    width: 3.5rem;
    position: absolute;
    top: 0;
    left: 65%;
    margin: -4.8rem;
    padding: 1rem;
    border-radius: 100%;
}

.displays-container img:hover {
    background-color: var(--clr-off--black);
    cursor: pointer;
}

.displays-container h1 {
    font-size: 3rem;
    font-weight: var(--fw-three);
    font-style: italic;
    line-height: 3.3rem;
}

.numbers {
    color: var(--clr-purple);
}

@media screen and (min-width: 375px) {
        
    .outer-container {
        width: 500px;
        margin: 0 auto;
        padding: 1rem; 
    }

    .inputs-container {
        max-width: calc(375px - 3rem);
        padding-bottom: 1.5rem;
    }

        
    .inputs-container label {
        font-size: .7rem;
    }

    .inputs-container input {
        padding: .5rem .8rem;
    }

    .displays-container {
        max-width: calc(375px - 3rem);
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .displays-container img {
        left: 130%;
        margin: -3.3rem;
    }

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }