:root {
    --clr--gradient: linear-gradient(to left, hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    --clr--pale-blue: hsl(243, 100%, 93%);
    --clr--grayish-blue: hsl(229, 7%, 55%);
    --clr--dark-blue: hsl(228, 56%, 26%);
    --clr--veryDark-blue: hsl(229, 57%, 11%);
    --fw--one: 400;
    --fw--two: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.outer-container {
    background: url(/images/bg-mobile.png) center/cover no-repeat;
    width: 375px;
    height: 100vh;
    margin: auto;
}

.container {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: auto;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }