:root {
    --bright-blue: hsl(220, 98%, 61%);
    --check-background-linear-gradient-from: hsl(192, 100%, 67%);
    --check-background-linear-gradient-to: hsl(280, 87%, 65%);
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-blue--hover: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue: hsl(237, 14%, 26%);
    --fw-400: 400;
    --fw-700: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--very-light-gray);
    background-image: url(/images/bg-desktop-light.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: contain;
    font-family: 'Josefin Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.outer-container {
    width: 375px;
    min-height: 100svh;
    margin: 0 auto;
    position: relative;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

#logo-and-mode-switch__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
}

#logo-and-mode-switch__container .logo {
    color: var(--very-light-gray);
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 7px;
    padding-top: 7px;
}

#logo-and-mode-switch__container img.mode-switch {
    width: 1.2rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }