:root {
  --clr--marine-blue: hsl(213, 96%, 18%);
  --clr--purplish-blue: hsl(243, 100%, 62%);
  --clr--pastel-blue: hsl(228, 100%, 84%);
  --clr--light-blue: hsl(206, 94%, 87%);
  --clr--strawberry-red: hsl(354, 84%, 57%);
  --clr--cool-gray: hsl(231, 11%, 63%);
  --clr--light-gray: hsl(229, 24%, 87%);
  --clr--magnolia: hsl(217, 100%, 97%);
  --clr--alabaster: hsl(231, 100%, 99%);
  --clr--white: hsl(0, 0%, 100%);
  --ff--one: 'Ubuntu', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --fw--one: 400;
  --fw--two: 500;
  --fw--three: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr--magnolia);
  color: var(--clr--cool-gray);
  font-family: var(--ff--one);
  font-size: 15px;
}

.outer-container {
  width: 375px;
  height: 100svh;
  margin: auto;
}

.container {
  width: inherit;
  height: inherit;
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr 6fr 1fr;
}

.sidebar {
  background: url(/assets/images/bg-sidebar-mobile.svg);
  color: var(--clr--alabaster);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.steps-container {
  padding: 1.8rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.step-number {
  color: var(--clr--alabaster);
  font-size: .8rem;
  font-weight: var(--fw--two);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--clr--alabaster);
  border-radius: 10rem;
}

.step-info {
  display: none;
}

.present-step {
  background-color: var(--clr--light-blue);
  color: var(--clr--marine-blue);
  border: none;
}

.card {
  background-color: var(--clr--white);
  position: absolute;
  top: 12svh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 1.5rem;
  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow: 1px 10px 40px -30px var(--clr--cool-gray);
}

.card-heading {
  color: var(--clr--marine-blue);
  font-size: 1.5rem;
  font-weight: var(--fw--three);
  line-height: 1rem;
  margin-top: 1rem;
}

.card-sub-heading {
  line-height: 1.2rem;
  margin-right: 2rem;
}

.input-container label {
  color: var(--clr--marine-blue);
  font-size: .8rem;
  font-weight: var(--fw--two);
  display: block;
  line-height: 1.2rem;
}

.input-container input::placeholder {
  color: var(--clr--cool-gray);
  font-family: var(--ff--one);
  font-weight: var(--fw--two);
}

.input-container input {
  width: 100%;
  border: 1px solid var(--clr--cool-gray);
  padding: .7rem 1rem;
  border-radius: .3rem;
}

.card-step-two button, .card-step-three button {
  background-color: transparent;
  font-family: var(--ff--one);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  border: 1px solid var(--clr--light-gray);
  border-radius: .5rem;
}

.card-step-two #selected-plan, .card-step-three .selected-add-on {
  background-color: var(--clr--alabaster);
  border: 1px solid var(--clr--purplish-blue);
}

.card-step-two img {
  width: 2rem;
  margin: 1rem;
}

.card-step-two .plan-and-price {
  text-align: left;
  margin: 1rem 0;
}

.card-step-two .plan-and-price h2 {
  color: var(--clr--marine-blue);
  font-size: 1rem;
  font-weight: var(--fw--two);
}

.card-step-two .plan-and-price p {
  color: var(--clr--cool-gray);
  font-size: .8rem;
  line-height: 1.2rem;
}

.card-step-two button .plan-and-price .free-months-on-yearly-sub {
  color: var(--clr--marine-blue);
  font-size: .6rem;
  font-weight: var(--fw--two);
  display: block;
}

#billing-type--container {
  background-color: var(--clr--alabaster);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .8rem;
  position: relative;
  margin-top: .5rem;
  padding: .50em 4em;
  border-radius: .3rem;
}

#billing-type--container p {
  color: var(--clr--marine-blue);
}

#billing-type--container .seleted-duration {
  color: var(--clr--cool-gray);
}

/* toggle switch */
#billing-type--container .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

#billing-type--container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#billing-type--container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr--marine-blue);
  transform : .4s;
  transition: .4s;
}

#billing-type--container .slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: var(--clr--white);
  transform: .4s;
  transition: .4s;
}

#billing-type--container input:checked + .slider {
  background-color: var(--clr--marine-blue);
}

#billing-type--container input:focus + .slider {
  box-shadow: 0 0 1px var(--clr--cool-gray);
}

#billing-type--container input:checked + .slider::before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

#billing-type--container .slider.round {
  border-radius: 20px;
}

#billing-type--container .slider.round::before {
  border-radius: 50%;
}

.card-step-three .add-on {
  /* display: flex;
  flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  padding: .7rem;
}

.card-step-three .add-on .checkbox-and-name{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: .7rem;
}

.card-step-three .add-on .checkbox-and-name input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  appearance: none;
  border-radius:20%;
  border: 1px solid var(--clr--light-gray);
}

.card-step-three .add-on .checkbox-and-name input[type=checkbox]:checked {
  background: url(/assets/images/icon-checkmark.svg) var(--clr--purplish-blue) no-repeat center;
}

.card-step-three .add-on .add-on-name-container h2{
  color: var(--clr--marine-blue);
  font-size: 1rem;
  font-weight: var(--fw--two);
  text-align: left;
}

.card-step-three .add-on .add-on-name-container p{
  font-size: .8rem;
}

.card-step-three .add-on .add-on-price {
  color: var(--clr--purplish-blue);
  font-size: .8rem;
  font-weight: var(--fw--one);
}

.footer {
  background-color: var(--clr--alabaster);
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .back-button {
  margin-left: 1rem;
}

.footer .next-button {
  background-color: var(--clr--marine-blue);
  color: var(--clr--alabaster);
  margin-right: 1rem;
  padding: .4rem .8rem;
  border-radius: .2rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }