* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}


p {
    font-size: 18px;
    line-height: 1.2;
}

.container {
    max-width: 375px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 10px 10px hsla(221, 100%, 96%, 1);
    border-radius: 20px;
    margin: 1rem auto;
}

#left {
    width: 100%;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsla(0, 0%, 100%, 0.8);
    border-radius: 20px;
    padding: 1rem;
}

#left-title, #right-title {
    font-size: 1rem;
    font-weight: 700;
}

#total-average {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#total-average h1 {
    font-size: 2.8em;
    color: #fff;
}

#total-average--para {
    font-size: .8em;
}

#remark-title {
    color: #fff;
    font-size: 1.5em;
    line-height: 1.8em;
}

#left-para {
    font-size: .8em;
    margin: 0 5em;
    margin-bottom: 1rem;
}

#right {
    padding: 1.5rem;
}

#right-title {
    font-weight: 900;
    text-align: left;
    margin-bottom: 1em;
}


button {
    width: 100%;
    background-color: #303b59;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0;
    margin: 1rem auto;
    border: none;
    border-radius: 50px;
}

.summary-item {
    /*width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; */
    padding: .8rem;
    margin-bottom: .8rem;
    border-radius: 10px;
}


#right img {
    width: 1rem;
    margin-right: .5rem;
}

.summary-item h3 {
   font-size: .8rem;
}

.summary-item--left {
    display: flex;
}

.item-right--d {
    opacity: .6;
}

#reaction-right, #memory-right, 
#verbal-right, #visual-right {
    color: #303b59;
}

#reaction {
    background-color: hsla(0, 100%, 67%, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reaction-left {
    color: hsla(0, 100%, 67%, 1);
}

#memory {
    background-color: hsla(39, 100%, 56%, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#memory-left {
    color: hsla(39, 100%, 56%, 1);;
}

#verbal {
    background-color: hsla(166, 100%, 37%, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#verbal-left {
    color: hsla(166, 100%, 37%, 1);
}

#visual {
    background-color: hsla(234, 85%, 45%, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#visual-left {
    color: hsla(234, 85%, 45%, 1);
}

@media screen and (min-width: 375px) {
    .container {
       max-width: 750px;
       display: flex;
    }

    #right, #left {
        width: 50%;
    }

}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}