:root {
    --clr-violet: hsl(263, 55%, 52%);
    --clr-darkGrayish--blue: hsl(217, 19%, 35%);
    --clr-blackish--blue: hsl(219, 29%, 14%);
    --clr-light--gray: hsl(0, 0%, 81%);
    --clr-lightGrayish-blue: hsl(210, 46%, 95%);
    --clr-white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr-lightGrayish-blue);
    font-family: 'Barlow Semi Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.outer-container {
    max-width: 375px;
    margin: 1rem auto;
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
}

.a-container {
    padding: 2rem;
    border-radius: 1rem;
}

.a-container .sub-heading {
    margin-bottom: 1rem;
}

.image-name {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.image-name img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    border: 2px solid var(--clr-light--gray);
}

.image-name .name-status .name {
    color: var(--clr-white);
}

.image-name .name-status .status {
    color: var(--clr-white);
    opacity: .5;
}

.bg-violet {
    background-color: var(--clr-violet);
    position: relative;
    z-index: -2;
}

#bg-quote {
    position: absolute;
    top: 0;
    right: 5%;
    z-index: -2;
}

.bg-violet .sub-heading, 
.bg-grayish--Blue .sub-heading, 
.bg-blackish--blue .sub-heading {
    color: var(--clr-white);
}

.bg-violet .para, 
.bg-grayish--Blue .para, 
.bg-blackish--blue .para {
    color: var(--clr-white);
    opacity: .7;
}

.bg-grayish--Blue {
    background-color: var(--clr-darkGrayish--blue);
}

.bg-blackish--blue {
    background-color: var(--clr-blackish--blue);
}

.bg-blackish--blue img {
    border-color: var(--clr-violet);
}

.bg-white {
    background-color: var(--clr-white);
}

.bg-white .name-status .name {
    color: var(--clr-darkGrayish--blue);
}

.bg-white .name-status .status {
    color: var(--clr-darkGrayish--blue);
    opacity: .5;
}

.bg-white .sub-heading {
    color: var(--clr-darkGrayish--blue);
}

.bg-white .para {
    color: var(--clr-darkGrayish--blue);
    opacity: .5;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }