:root {
    --clr--bright-orange: hsl(31, 77%, 52%);
    --clr--dark-cyan: hsl(184, 100%, 22%);
    --clr--veryDark-cyan: hsl(179, 100%, 13%);
    --clr--transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr--veryLight-gray: hsl(0, 0%, 95%);
    --ff-one: 'Lexend Deca', sans-serif;
    --ff-two: 'Big Shoulders Display', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--clr--veryLight-gray);
    font-family: var(--ff-one);
    font-size: 15px;
    font-weight: 400;
}

.outer-container {
    max-width: 375px;
    margin: 1rem auto;
    padding: 2rem;
}

.containers {
    padding: 2rem;
}

img {
    width: 2rem;
}

.containers h2 {
    color: var(--clr--veryLight-gray);
    font-family: var(--ff-two);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

.containers .para {
    color: var(--clr--transparent-white);
    font-size: .8rem;
    line-height: 2;
    margin: 1rem 0;
}

.containers a {
    background-color: var(--clr--veryLight-gray);
    display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
    border-radius: 50rem;
    border: 1px solid var(--clr--transparent-white);
}

.containers a:hover {
    display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
    border-radius: 50rem;
}

.sedans-container {
    background-color: var(--clr--bright-orange);
    border-radius: .3rem .3rem 0 0;
}

.sedans-container .learn-more {
    color: var(--clr--bright-orange);
}

.sedans-container .learn-more:hover {
    background-color: var(--clr--bright-orange);
    color: var(--clr--transparent-white);
    border: 1px solid var(--clr--transparent-white);
}

.suvs-container {
    background-color: var(--clr--dark-cyan);
}

.suvs-container .learn-more {
    color: var(--clr--dark-cyan);
}

.suvs-container .learn-more:hover {
    background-color: var(--clr--dark-cyan);
    color: var(--clr--transparent-white);
    border: 1px solid var(--clr--transparent-white);
}

.luxurys-container {
    background-color: var(--clr--veryDark-cyan);
    border-radius: 0 0 .3rem .3rem;
}

.luxurys-container .learn-more {
    color: var(--clr--veryDark-cyan);
}

.luxurys-container .learn-more:hover {
    background-color: var(--clr--veryDark-cyan);
    color: var(--clr--transparent-white);
    border: 1px solid var(--clr--transparent-white);
}

@media screen and (min-width: 376px) {
    .outer-container {
        max-width: 750px;
    }

    .container {
        display: flex;
    }
    
    .containers .para {
        margin: 1rem 0 3rem 0;
    }
        
    .sedans-container {
        border-radius: .3rem 0 0 .3rem;
    }   

    .suvs-container .learn-more {
        margin-top: 1.5rem;
    }

    .luxurys-container {
        border-radius: 0 .3rem .3rem 0;
    }

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }